/* Hier hoef je niks mee te doen */
*{
    font-size:50;
}

#container{
    width: 800px;
    height: 600px;
    background-color: yellow;
    border: 1px solid black;
    margin: 0 auto;
}

/* Hieronder kun je gaan editen */

#links{
    width: 200px;
    height: 600px;
    background-color: green ;
    display: inline-block;
}

#rechts{
    width: 600px;
    height: 300px;
    background-color: red;
    display: inline-block;
}

#rechtsboven{
    width: 200px;
    height: 300;
    background-color: yellow;
}

#rechtsonder{
    width: 200px;
    height: 300;
    background-color: red;
}