/* Hier hoef je niks mee te doen */
*{
    font-size:50;
}

#container{
    width: 800px;
    height: 600px;
    background-color: red;
    border: 1px solid black;
    margin: 0 auto;
}

/* Hieronder kun je gaan editen */

#boven{
    width: 800px;
    height: 300px;
    background-color: white;
}

#linksboven{
    width: 250px;
    height: 300px;
    background-color: blue;
    
}