/* Hier hoef je niks mee te doen */
*{
    font-size:50;
}

#container{
    width: 800px;
    height: 600px;
    background-color: red;
    border: 1px solid black;
    margin: 0 auto;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 240px;
    background-color: lightblue;
}

#onderkant{
    width: 800px;
    height: 240px;
    background-color: lightblue;
    
}

#midden{
    width: 800px;
    height: 100px;
    background-color: black;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

