/* Hier hoef je niks mee te doen */
*{
    font-size:50;
}

#container{
    width: 800px;
    height: 500px;
    background-color: red;
    border: 1px solid black;
    margin: 0 auto;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 800px;
    height: 250px;
    background-color: white;
}

#onderkant{
    width: 0px;
    height: 0px;
    background-color: red;
}

